# <span style="color:darkblue"> Lecture 12: Application 2 - Random Assignment </span>

<font size = "5">

# <span style="color:darkblue"> I. Import Libraries and Data </span>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
carfeatures = pd.read_csv("data_raw/features.csv")

# <span style="color:darkblue"> I. Random Assignment </span>

<font size = "5">

Random assignment is crucial for scientific progress ...

- The basis for medical trials
- Also used in engineering, the natural sciences and <br>
  social sciences (economics, political science, etc.)

In [3]:
# "list_status" is a list with "treatment/control" arms
# "prop_status" is the proportion in the treatment and control arms
# "size_dataset" is how many rows are contained

list_status  = ["Treatment","Control"]
prop_status  = [0.4,0.6]
size_dataset = len(carfeatures)

<font size = "5">
Random assignment

In [5]:
# The "np.random.choice" will create a vector with the status
# We will save this to a column in "carfeatures"
# Note: (i) We can always split the arguments of a function in multiple lines
#           to make it easier to read

carfeatures["status"] = np.random.choice(list_status,
                                         size = size_dataset,
                                         p = prop_status)

display(carfeatures)

,mpg,cylinders,displacement,horsepower,weight,acceleration,vehicle_id,status
0,18.0,8,307,130,3504,12.0,C-1689780,Control
1,15.0,8,350,165,3693,11.5,B-1689791,Treatment
2,18.0,8,318,150,3436,11.0,P-1689802,Control
3,16.0,8,304,150,3433,12.0,A-1689813,Control
4,17.0,8,302,140,3449,10.5,F-1689824,Treatment
...,...,...,...,...,...,...,...,...
393,27.0,4,140,86,2790,15.6,F-1694103,Control
394,44.0,4,97,52,2130,24.6,V-1694114,Treatment
395,32.0,4,135,84,2295,11.6,D-1694125,Control
396,28.0,4,120,79,2625,18.6,F-1694136,Treatment
397,31.0,4,119,82,2720,19.4,C-1694147,Control

<font size = "5">

Compute frequencies by status

In [39]:
# The command "pd.crosstab" computes frequencies
# If we add the option "normalize" it will compute proportions
# Note: The default assignment is done randomly without replacement
#       which means that the proportions are approximately the same   
#       (but not equal) to "prop_status"

frequency_table   = pd.crosstab(index = carfeatures["status"], columns = "Frequency")
proportions_table = pd.crosstab(index = carfeatures["status"],
                                columns = "Frequency",
                                normalize = True)

display(frequency_table)
display(proportions_table)

col_0      Frequency
status
Control          251
Treatment        147

col_0      Frequency
status
Control     0.630653
Treatment   0.369347

<font size = "5">

Query with string conditions

In [6]:
# When you have queries for text variables, it's important
# to use outer ' ' single quotations
# and inner double quotations.

data_treated = carfeatures.query('status == "Treatment" ')
data_control = carfeatures.query('status == "Control" ')

<font size = "5">

Treated/control should be similar

- This is the key principle of random assignment
- We can check the summary statistics

In [46]:
# The count is different because we assigned different proportions
# All other sumary statistics are approximately the same
# They are not identical because the assignment is random

display(data_treated.describe())
display(data_control.describe())

              mpg   cylinders  displacement       weight  acceleration
count  145.000000  145.000000    145.000000   145.000000    145.000000
mean    23.656552    5.558621    194.965517  2999.124138     15.622069
std      8.487383    1.735559    103.989477   862.268865      2.806626
min      9.000000    4.000000     68.000000  1760.000000      9.500000
25%     17.000000    4.000000     98.000000  2200.000000     13.900000
50%     22.000000    4.000000    144.000000  2910.000000     15.000000
75%     29.900000    8.000000    302.000000  3672.000000     17.300000
max     46.600000    8.000000    455.000000  5140.000000     24.600000

              mpg   cylinders  displacement       weight  acceleration
count  253.000000  253.000000    253.000000   253.000000    253.000000
mean    23.433202    5.395257    192.545455  2953.976285     15.537154
std      7.420168    1.681451    104.624019   839.151120      2.734372
min     10.000000    3.000000     70.000000  1613.000000      8.000000
25%     17.500000    4.000000    105.000000  2245.000000     13.800000
50%     23.000000    4.000000    151.000000  2735.000000     15.500000
75%     28.800000    6.000000    258.000000  3563.000000     17.000000
max     44.600000    8.000000    455.000000  4997.000000     24.800000

## <span style="color:darkblue"> III. Quiz Structure </span>

<font size = "5">

The day of the quiz I will ...
- Provide a dataset with information
- Give more specific instructions.
- Below, you will see the type of questions that will be asked.
- The idea is for you to apply known concepts to new data
- You have 50 minutes to complete the assignment

Questions

(exact wording may change in quiz, but exercise will be very similar)

<font size = "5">

(a) Create a function and apply it to a column

- Check Lecture 8 for how to define a function
- The function will have if/else statements and output a string
- You will use ".apply()" to create a new variable in the dataset <br>
(see Lecture 9)

In [12]:
def compute_grade(grade):
    if grade >=90:
        status = "A"
    else:
        status = "B+"
    return(status)

data  = pd.DataFrame(  [ ] )
data["scores"] = [60,70,80,90,100]
data["great_students"] = data ["scores"].apply(compute_grade)

display(data)

   scores great_students
0      60             B+
1      70             B+
2      80             B+
3      90              A
4     100              A

In [ ]:
def fn_grade(numeric_grade):
    if numeric_grade >= 55:
        status = "pass"
    else:
        status = "fail"
    return(status)

data  = pd.DataFrame(  [ ] )
data["can_vote"] = data["age"].apply()

<font size = "5">

(b) Use queries + global variables

- You will be asked to compute certain summary statistics <br>
(mean, median, etc)
- The query will have multiple conditions
- Then subset a dataset that meets certain conditions
- See Lecture 10 for more details

In [35]:

mean_weight = carfeatures["weight"].mean()
data_mean_weight = carfeatures.query("(weight <= @mean_weight) & (cylinders == 6)")

display(data_mean_weight)

,mpg,cylinders,displacement,horsepower,weight,acceleration,vehicle_id,status
15,22.0,6,198,95,2833,15.5,P-1689945,Control
16,18.0,6,199,97,2774,15.5,A-1689956,Control
17,21.0,6,200,85,2587,16.0,F-1689967,Control
24,21.0,6,199,90,2648,15.0,A-1690044,Control
33,19.0,6,232,100,2634,13.0,A-1690143,Control
45,18.0,6,258,110,2962,13.5,A-1690275,Control
99,18.0,6,232,100,2945,16.0,A-1690869,Control
101,23.0,6,198,95,2904,16.0,P-1690891,Control
107,18.0,6,232,100,2789,15.0,A-1690957,Control
113,21.0,6,155,107,2472,14.0,M-1691023,Control
123,20.0,6,156,122,2807,13.5,T-1691133,Control
126,21.0,6,200,?,2875,17.0,F-1691166,Treatment
127,19.0,6,232,100,2901,16.0,A-1691177,Control
169,20.0,6,232,100,2914,16.0,A-1691639,Control
210,19.0,6,156,108,2930,15.5,T-1692090,Treatment
241,22.0,6,146,97,2815,14.5,D-1692431,Control
254,20.2,6,200,85,2965,15.8,F-1692574,Control
306,28.8,6,173,115,2595,11.3,C-1693146,Control
307,26.8,6,173,115,2700,12.9,O-1693157,Treatment
333,32.7,6,168,132,2910,11.4,D-1693443,Treatment
341,23.5,6,173,110,2725,12.6,C-1693531,Control
361,25.4,6,168,116,2900,12.6,T-1693751,Control
362,24.2,6,146,120,2930,13.8,D-1693762,Control
386,25.0,6,181,110,2945,16.4,B-1694026,Control
389,22.0,6,232,112,2835,14.7,F-1694059,Control

<font size = "5">

(c) Use sorting + ".iloc[]"

- Extract the observations with the largest values of a column
- See Lecture 10 for details

In [39]:
carsorted = carfeatures.sort_values(by = "mpg", ascending = False)
display(carsorted)
display(carsorted.iloc[[0,1,2],:])

,mpg,cylinders,displacement,horsepower,weight,acceleration,vehicle_id,status
322,46.6,4,86,65,2110,17.9,M-1693322,Treatment
329,44.6,4,91,67,1850,13.8,H-1693399,Control
325,44.3,4,90,48,2085,21.7,V-1693355,Treatment
394,44.0,4,97,52,2130,24.6,V-1694114,Control
326,43.4,4,90,48,2335,23.7,V-1693366,Treatment
...,...,...,...,...,...,...,...,...
103,11.0,8,400,150,4997,14.0,C-1690913,Treatment
67,11.0,8,429,208,4633,11.0,M-1690517,Control
25,10.0,8,360,215,4615,14.0,F-1690055,Control
26,10.0,8,307,200,4376,15.0,C-1690066,Control
28,9.0,8,304,193,4732,18.5,H-1690088,Control

,mpg,cylinders,displacement,horsepower,weight,acceleration,vehicle_id,status
322,46.6,4,86,65,2110,17.9,M-1693322,Treatment
329,44.6,4,91,67,1850,13.8,H-1693399,Control
325,44.3,4,90,48,2085,21.7,V-1693355,Treatment

<font size = "5">

(d) Split a dataset into subsets

- You will be asked to randomly assign a status to each row
- Split the data into separate datasets using ".query()"
- This will closely follow the material in Lecture 12 (this one)
- You will need this result to answer questions (e), (f)

In [32]:
list_status  = ["Treatment","Control"]
prop_status  = [0.4,0.6]


carfeatures["status"] = np.random.choice(list_status,
                                         size = size_dataset,
                                         p = prop_status)

data_treated = carfeatures.query('status == "Treatment" ')
data_control = carfeatures.query('status == "Control" ')

<font size = "5">

(e) Create a function with four inputs $f(y,x,b0,b1)$

- Start by using "def" to define the function
- The function will include arithmetic operations (Lecture 3) <br>
and summary statistics for pandas (mean, std, min, max, etc.)
- You will be asked to test different values of $(y,x,b0,b1)$
- You will get $y$ and $x$ from the two datasets in part (d)
- Note: You will **not** be required to use the "statsmodels" library

In [38]:
def fn_compute_value(y,x,b0,b1):
    V = y*(1 + x/b0)**(b0**b1)
    return(V)

data["y"] = [1,2,3,4,5]
data["x"] = [5,6,7,8,9]

print(fn_compute_value(y=data["y"], x=data["x"], b0=3, b1=5))

0    3.238933e+103
1    1.743793e+116
2    3.440776e+127
3    5.248287e+137
4    9.989595e+146
dtype: float64

<font size = "5">

(f) Create two overlapping histogram plots

- You will use a variable from the two datasets in (d)
- You need to use the "alpha" option to make the graphs semitransparent
- You will need to add a legend, label the axes, and the title
- Note: The goal of this question is to illustrate that random <br>
assignment produces very similar distributions between two groups

In [ ]:
list_unique_years = pd.unique(wdi_urban["year"])

for year in list_unique_years:
    temporarydataframe = wdi_urban.query("year == @year")
    plt.hist(temporarydataframe["prop_urbanpopulation"],alpha = 0.5)

plt.legend(labels = list_unique_years)